*{
    margin: 0;
    padding: 0;
}
.container{
    width: auto;
    /* margin-left: 20px;
    margin-top: 15px; */
    margin: auto;
    background-color: #808080;
}
.header{
    height: 100px;
    text-align: center;
    padding-top: 10px;
    color: white;
}
.image{
    margin: 5px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
}
.biography{
    color: white;
    margin-top: 10px;
}
.biography p{
    text-align: center;
    margin: 25px;
}
.biography .tribute{
    margin-left: 25px;
}
.biography blockquote{
    margin-top: 30px;
    text-align: center;
}